---
import { changeLanguage } from "i18next";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from "../../config";
import Body from "../../components/Body.astro";
import Content from "../../components/Content.astro";
import { IoArrowForward } from "react-icons/io5/index.js";
import Masthead from "../../components/Masthead.astro";
import { Image } from "@astrojs/image/components";

changeLanguage("zh");

const posts = (await Astro.glob("./blog/*.md")).sort((a: any, b: any) => new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section class="mb-8 inset-4">
          <p class="indent-8">
            作为一名刚刚从CS专业毕业的前端新人，我需要花许多时间用来学习以补充我的知识盲区并积累经验。所以我会对我的学习过程中的知识进行整理，以及coding过程中遇到的趣闻趣事，等等的记录。在这个网站上会对我上面的内容进行分享，希望能够对你有所帮助!
            <a
              href={HOMEPAGE_URL}
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              >我的作品集<IoArrowForward className="inline" />
            </a>
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li class="text-center mb-4">
                  <a href={post.url}>
                    <img
                      class="border border-slate-300 dark:bg-zinc-700 rounded-xl"
                      width="720"
                      height="360"
                      src={post.frontmatter.heroImage}
                      alt="Thumbnail"
                    />
                    <div class="mt-3 text-xl">{post.frontmatter.title}</div>
                    <div class="opacity-70">{post.frontmatter.description}</div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <Footer />
      </Content>
    </main>
  </Body>
</html>
