---
import { changeLanguage } from 'i18next'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import Masthead from '../components/Masthead.astro'
import { Image } from '@astrojs/image/components'

changeLanguage('en')

const posts = (await Astro.glob('./blog/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section class="mb-8 inset-4">
          <p class="indent-8">
            As a front-end newcomer who has just graduated from CS, I need to
            spend a lot of time studying to supplement my knowledge blind spots
            and gain experience. So I will organize my knowledge during the
            learning process, as well as the interesting facts encountered in
            the coding process, and so on. I will share my content above on this
            site, I hope it can be helpful to you!
            <a
              href={HOMEPAGE_URL}
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              >My portfolio<IoArrowForward className="inline" />
            </a>
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li class="text-center mb-4">
                  <a href={post.url}>
                    <img
                      class="border border-slate-300 dark:bg-zinc-700 rounded-xl"
                      width="720"
                      height="360"
                      src={post.frontmatter.heroImage}
                      alt="Thumbnail"
                    />
                    <div class="mt-3 text-xl">{post.frontmatter.title}</div>
                    <div class="opacity-70">{post.frontmatter.description}</div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <Footer />
      </Content>
    </main>
  </Body>
</html>
